body {
    background-image: url(./src/fondo.jpg);
}



#calculadora {
    width: 220px;
    padding: 10px;
    border: 2px solid #5f5a5a6d;
    border-radius: 10px;
    background-color: #5f5a5a6d;
    margin: 55px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pantalla {
    width: 233px;  
    height: 35px;
    text-align: right;
    font-size: 1.2em;
    border: 1px solid #5f5a5a6d;;
    padding: 5px;
    border-radius: 10px;
    background-color: #5f5a5a6d;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -53px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    margin: 2px;
    background-color: #888686df;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#igual {
    background-color: #911a0c;
    color: white;
}

button:hover#igual {
    background-color: rgb(98, 9, 9);
}

button#operador, 
#operador-resta, 
#operador-multi, 
#operador-suma,
#operador-dividir
 {
    background-color: rgb(226, 226, 25);
    color: rgb(0, 0, 0);
}

button#operador:hover, 
#operador-resta:hover, 
#operador-multi:hover, 
#operador-suma:hover,
#operador-dividir:hover
{
    background-color: #ddff00c2;
}

button#vacio, 
#vacio-2 {
    background-color: rgba(226, 226, 25, 0);
    color: rgba(255, 255, 255, 0);
}

button:hover#vacio {
    background-color: #ddff0000;
}

button:hover {
    background-color: #d0d0d0;
}

button#clear {
    background-color: red;
    color: white;
}



#fila1, #botones789, #botones456, #botones123, #botones0 {
    display: flex;
    justify-content: center;
}
